.content {
    padding-top: 185px;
    padding-bottom: 100px;

    &_title {
        position: relative;
        margin-bottom: 85px;

        &:before {
            content: attr(title-section);
            @include font-size(150px);
            color: rgba(9, 9, 19, 0.04);
            position: absolute;
            top: -25px;
            font-weight: $font-bold;
            line-height: 100px;
        }

        h1 {
            @include font-size(30px);
            color: $title-color-transparent;
        }

        span {
            font-family: $fonte-base;
            @include font-size($font-size);
            text-transform: uppercase;
            color: rgba(0, 0, 10, 0.45);
            font-weight: $font-bold;

            &:before {
                top: $gap + 1;
            }
        }
    }
}

.text-center {
    text-align: center !important;
}